<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechCollude</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <h1 class="main-title">TechCollude</h1>
      <header>
        {{#if loggedIn}}
        <nav>
          <a class="home-nav" href="/">HOMEPAGE</a>
          <a class="home-nav" href="/dashboard">DASHBOARD</a>
          <a id="logout" class="home-nav">LOGOUT</a>
          {{else}}
          {{!-- <a class="home-nav page-title" href="/">TechCollude</a> --}}
          <a class="home-nav" href="/">HOMEPAGE</a>
          <a class="home-nav" href="/dashboard">DASHBOARD</a>
          <a class="home-nav" href="/login">LOGIN</a>
          <a class="home-nav" href="/signup">SIGN UP</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>