{{!-- <a type="button" class="add-post" href="/dashboard/new">Create New Post</a> --}}
<button type="button" class="add-post" onclick="location.href='/dashboard/new'">Create New Post</button>
{{!-- onclick="location.href='https://google.com' --}}

<ol class="post-list">
  <h2>Edit previous posts:</h2>
  {{#each posts}}
    {{! <li> }}
    <div class="card">
      <a href="/dashboard/edit/{{id}}">{{post_title}}</a>
      posted on
      {{format_date createdAt}}
    </div>
    {{! </li> }}
  {{/each}}
</ol>