<ol class="post-list">
  {{#each posts as |post|}}
  {{!-- <li> --}}
    <article class="card">
      <div class="title">
        <a href="/post/{{id}}">{{post.post_title}}</a>
      </div>
      <div class="meta">
        by {{post.user.username}} on {{format_date post.createdAt}}

       
      </div>
    </article>
  {{!-- </li> --}}
  {{/each}}
</ul>